@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Contact
<div class="container mt-4 py-5">
<h2>Liên hệ với chúng tôi</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<form method="post">
    <div class="mb-3">
        <input asp-for="Name"
               class="form-control"
               placeholder="Họ tên" />
    </div>

    <div class="mb-3">
        <input asp-for="Email"
               class="form-control"
               placeholder="Email" />
    </div>

    <div class="mb-3">
        <textarea asp-for="Message"
                  class="form-control"
                  placeholder="Nội dung"></textarea>
    </div>

    <button class="btn btn-primary">
        Gửi liên hệ
    </button>
</form>

<div asp-validation-summary="All" class="text-danger"></div>
</div>